.transferWrapper {
  width: 30%;
}

.recentTransfers {
  width: 50% !important;
  overflow-y: auto;
  margin: auto;
}
.card {
  width: 70% !important;
  max-height: 800px;
}
.modelContent {
  width: 400px;
}
.modelContent {
}
