.form-controls .label {
  display: block;
}
.customInput {
  width: 100%;
  padding: 6px 8px;
  font-size: 16px;
  border: 2px solid lightgray;
  outline-color: gray;
  border-radius: 4px;
}
.input-group {
  margin-top: 8px;
  display: flex;
  gap: 5px;
}
