.button {
  padding: 8px 16px;
  border: 0px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  /* margin-top: 12px; */
}
.solid {
  background-color: #444;
  color: white;
}
.solid:hover {
  background-color: #333;
}
.outline {
  background-color: white;
  outline: 2px solid #333;
}
.outline:hover {
  background-color: #333;
  color: white;
}
